body {
    display: flex;
    flex-direction: column;
}
/* Header */
.header {
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
/* Page 1 */
.main-title {
    display: flex;
}

/* Page 2 */
.info-title {
    text-align: center;
}

.container {
    display: flex;
}

.img{

}

.text {
    text-align: center;
}

/* Page 3 */
.page-3 {
    display: flex;
    flex-direction: column;
    padding: 128px;
}

.quote {
    
}

.author {
    align-self: flex-end;
}

/* Page 4 */
.banner {
    display: flex;
}

